{% extends 'base.html' %}

{% block head %}
<title>StudyPoint</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">StudyPoint</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">Let's get productive.</h4>
    {% else %}
    <div style="overflow-x:auto;">
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.date_created.date() }}</td>
            <td>
                <a href="/delete/{{task.id}}">Delete</a>
                <br>
                <a href="/update/{{task.id}}">Update</a>
                <br>
                <a href="/pomodoro">Pomodoro Timer</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
    {% endif %}
    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <button type="submit">Add Task</button>
    </form>
</div>
{% endblock %}